<div class="content-wrap">

  <h2>Inscription à la RJ Login</h2>

  <%= render layout: "orders/form" do |f| %>

    <%= f.fields_for :product do |product_f| %>
      <div class="standard-form-row">
        <div class="row">
          <%= product_f.label :group %>
          <%= product_f.field_with_errors :text, :group %>
        </div>


        <div class="row">
          <span></span>
          <div>
            <h3>Entrée</h3>
            <p>Commande ci-dessous 1 ou plusieurs entrées pour l'événements. Remplis pour chaque entrée les informations requises.</p>
          </div>
        </div>
      </div>
      <%= render "participants", product_f: product_f, participants: @order.product.participants %>

    <% end %>

  <% end %>

</div>

<%= content_for :javascript do %>
  <%= javascript_include_tag "orders/login", 'data-turbolinks-track': 'reload' %>
<% end %>
