<%= render layout: "orders/form" do |f| %>

  <%= f.fields_for :product do |product_f| %>

    <%= product_f.label :group %>
    <%= product_f.text_field :group %>

    <%= product_f.number_field_with_label :entries, class: "amount-entries", required: true %>

  <% end %>

  <div class="price">
    <div><strong>Frais d'inscription:</strong> <%= @order.fee %> CHF</div>
    <div><strong>Total:</strong><span id="amount"><%= @order.print_amount %></span> CHF</div>
  </div>

<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag "orders/login", 'data-turbolinks-track': 'reload' %>
<% end %>
