<div class="fields-for wrap standard-form-row">
  <%= product_f.fields_for :participants do |f| %>
    <div class="participants-fields wrap">

      <div class="participants-wrap">
        <div class="row">
          <%= f.label :gender %>
          <div class="select"><%= f.select :gender, options_for_enum(f.object, :gender) %></div>
        </div>

        <div class="row">
          <%= f.label :firstname %>
          <%= f.field_with_errors :text, :firstname, autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :lastname %>
          <%= f.field_with_errors :text, :lastname, autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :email %>
          <%= f.field_with_errors :text, :email, autocomplete: "off" %>
        </div>

        <div class="age number-wo-arrows row">
          <%= f.label :age %>
          <%= f.field_with_errors :number, :age, autocomplete: "off" %>
        </div>
      </div>

      <%= f.hidden_field :_destroy, identifier: "destroy" %>

      <div class="row">
        <span></span>
        <button type="button" class="remove-fields" data-type="participants">Supprimer</button>
      </div>
    </div>

    <div class="row">
      <span></span>
      <button type="button" class="add-fields" data-type="participants" data-count="<%= participants.size %>">
        Ajouter un forfait
      </button>
    </div>

  <% end %>
</div>
