<% content_for :id, "order-login" %>

<div class="drawbar">
  <div class="logo"><%= image_tag "layout/logo.png" %></div>

  <div class="title">
    <h1>RJ Login 17</h1>
    <h2>Confirmation</h2>
  </div>
</div>

<%= render layout: "orders/confirmation" do %>

  <!-- Product information -->

  <p><strong>Nombre d'entrées:</strong> <%= @order.product.entries %></p>
  <p><strong>Nom du groupe:</strong> <%= @order.product.group %></p>

  <p class="edit"><%= link_to image_tag("icons/edit.png") + " Changer vos informations", { action: "edit" } %></p>

  <!-- Order information -->
  <p>Frais d'inscription: <b><%= Records::Login::FEE %> CHF</b></p>
  <p class="amount">Prix à payer: <b><%= @order.print_amount %> CHF</b></p>

<% end %>
