<% content_for :id, "session-new" %>

<div class="content-wrap">

  <h2>Se connecter</h2>

  <div class="standard-form-row">
    <%= form_for :session, url: sessions_path do |f| %>
      <div class="row">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Email" %>
      </div>
      <div class="row">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Mot de passe" %>
      </div>
      <div class="row">
        <%= f.label :remember_me %>
        <div><%= f.check_box :remember_me %></div>
      </div>
      <div class="row">
        <span></span>
        <%= f.button %>
      </div>
    <% end %>

    <div class="row">
      <span></span>
      <p>
        Pas encore inscrit ?
        <%= link_to "S'inscrire", new_user_path %>
      </p>
    </div>

    <div class="row">
      <span></span>
      <p>
        Mot de passe oublié?
        <%= link_to "Réinitialiser le mot de passe", new_users_password_reset_path %>
      </p>
    </div>
  </div>
</div>

<%= render "layouts/headers/application" %>