<h1>Confirmation d'inscription</h1>
<h5>Merci pour ta commande.</h5>
<p>
  Ton paiement a bien été reçu et ton inscription à la Rencontre de Jeunesse est validée.
</p>
<h5>Résumé de la commande</h5>
<style>
  table.order td, table.order th {
    padding: 3px 6px;
  }
</style>
<table class="order" style="background:#eee;">
  <tr>
    <th>Désignation</th><th>Quantité</th><th>CHF/pce</th><th></th>
  </tr>
  <tr>
    <td>Forfaits RJ</td><td><%= @order.product.entries %></td><td><%= Records::Rj.ENTRY_PRICE %>.-</td><td><%= entries_price(@order.product) %>.-</td>
  </tr>
  <tr>
    <td>Places pour dormir</td><td><%= @order.product.boy_beds %>x GARS / <%= @order.product.girl_beds %>x FILLES</td><td><%= Records::Rj::BED_PRICE %>.-</td><td><%= beds_price(@order.product) %>.-</td>
  </tr>
  <tr>
    <td>Frais d'inscription</td><td></td><td></td><td><%= Records::Rj::FEE %>.-</td>
  </tr>
  <tr>
    <td></td><td></td><td><b>Total</b></td><td><b><%= @order.print_amount %> CHF</b></td>
  </tr>
</table>

<p>
  <br>
  Pour tout complément d'information ou problème, tu peux envoyer un email à l'adresse inscriptions@rencontredejeunesse.ch</p>
</p>

<p>Nous nous réjouissons de te voir le 5 mai 2017 ! </p>

<!-- TODO: conditions d'annulation -->
