<!-- TODO -->
<h1>Confirmation d'inscription</h1>
<p>Merci pour ta commande.</p>

<% if @order.payment_method == "postfinance" %>
<p>
  Votre paiement a bien été reçu et votre inscription à la RJ est validée.
</p>
<% else %>
<p>
  Votre inscription pour la RJ a été reçue. Une facture vous parviendra dans les prochains jours. Une fois payée, votre inscription sera validée.
</p>
<% end %>

<h5>Résumé de la commande</h5>
<style>
  table.order td, table.order th {
    padding: 3px 6px;
  }
</style>
<table class="order" style="background:#eee;">
  <tr>
    <th>Désignation</th><th>Quantité</th><th>CHF/pce</th><th></th>
  </tr>
  <tr>
    <td>Forfaits RJ</td><td><%= @order.product.entries %></td><td><%= Records::Rj.ENTRY_PRICE(@order.created_at) %>.-</td><td><%= entries_price(@order.product) %>.-</td>
  </tr>
  <tr>
    <td>Places pour dormir</td><td><%= @order.product.man_lodging %>x GARS / <%= @order.product.woman_lodging %>x FILLES</td><td><%= Records::Rj::LODGING_PRICE %>.-</td><td><%= lodging_price(@order.product) %>.-</td>
  </tr>
  <tr>
    <td>Frais d'inscription</td><td></td><td></td><td><%= Records::Rj::FEE %>.-</td>
  </tr>
  <tr>
    <td></td><td></td><td><b>Total</b></td><td><b><%= @order.print_amount %> CHF</b></td>
  </tr>
</table>

<p>
  <br>
  Pour tout complément d'information ou problème, tu peux envoyer un email à l'adresse inscriptions@rencontredejeunesse.ch</p>
</p>

<p>Nous nous réjouissons de te voir le 4 mai 2018 ! </p>
