<section id="registration">

  <div class="section-container">
    <div class="title">
      <h2>Inscris-<br>toi</h2>
    </div>

    <div class="right">
      <div class="text">
          <p>
          Le prix comprend le pass d’entrée pour le week-end. On te conseille de t’inscrire le plus vite possible pour profiter des rabais et pour assurer ta place.<br>
          Rejoins plus de 3200 jeunes pour amener la liberté dans cette génération !
          </p>
      </div>

      <div class="offers">
        <div class="offer">
          <p class="price">60.-</p>
          <p class="date">Du 26.01 au 25.02</p>
          <%= link_to_order "S'inscrire", start: "26.01.2019", term: "'25.02.2019", item: "rj-2019" %>
        </div>
        <div class="offer">
          <p class="price">75.-</p>
          <p class="date">Du 26.02 au 22.04</p>
          <%= link_to_order "S'inscrire", start: "26.02.2019", term: "'22.04.2019", item: "rj-2019" %>
        </div>
        <div class="offer">
          <p class="price">90.-</p>
          <p class="date">Du 23.04 au weekend</p>
          <%= link_to_order "S'inscrire", start: "23.04.2019", term: "'04.05.2019", item: "rj-2019" %>
        </div>
      </div>

      <div class="more">
        <div>
          <h3>Sur place</h3>
          <p>
            Weekend // 90 CHF<br>
            Vendredi soir // 30 CHF<br>
            Samedi journée // 40 CHF<br>
            Samedi soir // 30 CHF<br>
            Dimanche // 30 CHF
          </p>
        </div>

        <div>
          <h3>Lieu</h3>
          <p>
            Espace Gruyère SA<br>
            Rue de Vevey 136/144<br>
            Case postale 460<br>
            1630 Bulle
          </p>
        </div>
      </div>
    </div>

    <div class="brush-1">
      <%= render "pages/rj/2019/brushes/b4" %>
    </div>
    <div class="brush-2">
      <%= render "pages/rj/2019/brushes/b5" %>
    </div>
    
  </div>

  <div class="banner">
  </div>

</section>