<div id="light-form">

  <div class="row">
    <div>Nom du groupe</div>
    <div><%= @order.product.group %></div>
  </div>

  <div class="row">
    <div>Nombre d'entrées</div>
    <div><%= @order.product.entries %></div>
  </div>

  <div class="row">
    <h4>Participants</h4>
  </div>

  <% @order.product.participants.each do |participant| %>
    <div class="participant">
      <div class="row tight">
        <span>Nom</span>
        <div>
          <%= t("participants/rj.genders.#{participant.gender}") %>
          <%= participant.firstname %> <%= participant.lastname %>
        </div>
      </div>
      <div class="row tight">
        <div>Age</div>
        <div><%= participant.age %></div>
      </div>
    </div>
  <% end %>
</div>
