<div id="light-form">

  <div class="row">
    <p>Nom du groupe</p>
    <p><%= @order.product.group %></p>
  </div>

  <div class="row">
    <p>Nombre d'entrées</p>
    <p><%= @order.product.entries %> (dont <%= @order.product.man_lodging %> places gars et <%= @order.product.woman_lodging %> places filles)</p>
  </div>

  <div class="row">
    <h4>Participants</h4>
  </div>

  <% @order.product.participants.each do |participant| %>
    <div class="participant">
      <div class="row tight">
        <p>Nom</p>
        <p>
          <%= t("participants/rj.genders.#{participant.gender}") %>
          <%= participant.firstname %> <%= participant.lastname %>
        </p>
      </div>
      <div class="row tight">
        <p>Age</p>
        <p><%= l participant.birthday if participant.birthday %></p>
      </div>
      <div class="row tight">
        <span>Hébergement</span>
        <p><%= participant.lodging ? "Dors sur place" : "Ne dors PAS sur place" %></p>
      </div>
    </div>
  <% end %>
</div>
