<div id="form">

	<%= form_for [:admin, @item] do |f| %>

		<%= render 'error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <p class="hint">
			En centimes (ex: pour 50 CHF, écriver 5000)
		</p>
    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.label :number %>
    <%= f.number_field :number %>

    <%= f.label :active %>
    <%= f.check_box :active %>

    <%= f.label :valid_from %>
    <%= f.date_select :valid_from %>

    <%= f.label :valid_until %>
    <%= f.date_select :valid_until %>

    <%= f.label :order_bundle_id %>
    <%= f.collection_select :order_bundle_id, OrderBundle.all, :id, :name %>

		<%= f.submit nil, class: "button" %>

	<% end %>

</div>
