<div class="container">
    <h1>Statistiques</h1>

    <h3>Weekend: <%= @weekend %></h3>
    <h3>Vendredi: <%= @friday %></h3>
    <h3>Samedi journée: <%= @saturday_day %></h3>
    <h3>Samedi soir: <%= @saturday_evening %></h3>
    <h3>Dimanche: <%= @sunday %></h3>
    <h3>Hébergement: <%= @hosting %></h3>
</div>