<section id="program">

  <div class="section-container">
    <div class="program">
      <div class="sub-title">
        <span>horaire</span>
        <%= image_tag "rj/2020/program/horaire.png" %>
      </div>
      
      <div class="program-content">
        <div class="day">
          <p class="title">vendredi 01 mai</p>
          <p class="entry"><span>18h00 - </span><span>Accueil à l'extérieur</span></p>
          <p class="entry"><span>18h30 - </span><span>Ouverture de la billetterie, du village et du Fun Park</span></p>
          <p class="entry"><span>19h45 - </span><span>Ouverture des portes</span></p>
          <p class="entry"><span>20h15 - </span><span>Plénière // Louange</span></p>
          <p class="entry"><span>22h30 - </span><span>Fin de la plénière</span></p>
          <p class="entry"><span>22h45 - </span><span>Dance floor au village</span></p>
          <p class="entry"><span>00h30 - </span><span>Fermeture du village et du Fun Park</span></p>
        </div>
        <div class="day">
          <p class="title">samedi 02 mai</p>
          <p class="entry"><span>08h00 - </span><span>Ouverture du village et du Fun Park</span></p>
          <p class="entry"><span>09h15 - </span><span>Ouverture des portes</span></p>
          <p class="entry"><span>09h30 - </span><span>Animation</span></p>
          <p class="entry"><span>09h55 - </span><span>Plénière // Louange</span></p>
          <p class="entry"><span>11h45 - </span><span>Fin de la plénière</span></p>
          <p class="entry"><span>13h15 - </span><span>Ouverture des portes</span></p>
          <p class="entry"><span>13h30 - </span><span>Ateliers</span></p>
          <p class="entry"><span>14h15 - </span><span>Pause</span></p>
          <p class="entry"><span>14h30 - </span><span>Ateliers</span></p>
          <p class="entry"><span>15h15 - </span><span>Pause</span></p>
          <p class="entry"><span>15h30 - </span><span>Ateliers</span></p>
          <p class="entry"><span>16h15 - </span><span>Pause</span></p>
          <p class="entry"><span>16h30 - </span><span>Ateliers</span></p>
          <p class="entry"><span>19h15 - </span><span>Ouverture des portes</span></p>
          <p class="entry"><span>20h00 - </span><span>Plénière // Louange</span></p>
          <p class="entry"><span>22h30 - </span><span>Fin de la plénière</span></p>
          <p class="entry"><span>22h45 - </span><span>Dance floor au village</span></p>
          <p class="entry"><span>00h30 - </span><span>Fermeture du village et du Fun Park</span></p>
        </div>
        <div class="day">
          <p class="title">dimanche 03 mai</p>
          <p class="entry"><span>08h00 - </span><span>Ouverture du village et du Fun Park</span></p>
          <p class="entry"><span>09h15 - </span><span>Ouverture des portes</span></p>
          <p class="entry"><span>09h30 - </span><span>Animation</span></p>
          <p class="entry"><span>09h45 - </span><span>Plénière // Louange</span></p>
          <p class="entry"><span>11h30 - </span><span>Fin de la plénière</span></p>
          <p class="entry"><span>13h15 - </span><span>Ouverture des portes</span></p>
          <p class="entry"><span>13h30 - </span><span>Plénière // Louange</span></p>
          <p class="entry"><span>15h00 - </span><span>FIN officielle</span></p>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="top">
        <div class="sub-title">
          <span>écris-nous</span>
          <%= image_tag "rj/2020/program/ecris.png" %>
        </div>
        <div class="address">
          <p>Rue de vevey 140 Bulle, Fribourg, suisse<p>
          <p class="link"><a target="_blank" href="https://goo.gl/maps/yzmB72hxCWNVMLrR8">Voir sur la map</a></p>
        </div>
      </div>

      <div class="form">
        <%= form_for Contact.new, url: contact_path do |f| %>

          <%= f.select :category, Contact::CONTACT_EMAILS.map { |k, v| [t("contact.categories.#{k}"), k] } %>

          <%= f.text_field :firstname, placeholder: "Prénom", required: true %>

          <%= f.text_field :lastname, placeholder: "Nom", required: true %>

          <%= f.text_field :subject, placeholder: "Sujet", required: true %>

          <%= f.email_field :email, placeholder: "Email", required: true %>

          <%= f.text_area :message, placeholder: "Message", cols: 30, rows: 10, required: true %>

          <div class="input <%= yield :id %>"><%= f.submit "Envoyer" %></div>
        <% end %>
      </div>
    </div>

    <div class="registration">
      <div class="title">
        <div class="sub-title">
          <span>inscris-<br>toi</span>
          <%= image_tag "rj/2020/program/inscris.png" %>
        </div>
        <p class="text">
          Le prix comprend le pass d’entrée pour le week-end. On te conseille de t’inscrire le plus vite possible pour profiter des rabais et pour assurer ta place.
          Rejoins plus de 3200 jeunes pour amener la liberté dans cette génération !
        </p>
      </div>

      <div class="prices">
        <div class="price">
          <div class="price-wrapper">
            <p>60.-</p>
            <p>du 01.12.19 au 01.03.20</p>
            <%= link_to_order "S'inscrire", start: "01.12.2019", term: "'01.03.2020", key: "rj-2020" %>
          </div>
        </div>
        <div class="price">
          <div class="price-wrapper">
            <p>75.-</p>
            <p>du 02.03.20 au 13.04.20</p>
            <%= link_to_order "S'inscrire", start: "02.03.2020", term: "'13.04.2020", key: "rj-2020" %>
          </div>
        </div>
        <div class="price">
          <div class="price-wrapper">
            <p>90.-</p>
            <p>du 14.04.20 au WEEKEND</p>
            <%= link_to_order "S'inscrire", start: "14.04.2020", term: "'01.05.2020", key: "rj-2020" %>
          </div>
        </div>
      </div>

      <div class="faq">
        <a href="">FAQ</a>
        <p>
          Détails des prix et plus d'informations sur notre FAQ<br>
          Besoin d'inscrire un grand groupe en prélocation ? Consulte la FAQ.
        </p>
      </div>
    </div>

    <%= image_tag "rj/2020/program/hands.png", class: "hands" %>

    <div class="footer">
      <div class="left">
        <div class="img"><%= image_tag "rj/2020/program/logo.png" %></div>
        <p>
          <a href="#">parteaires</a>
          <a href="#">vecteurcom</a>
          <a href="#">cash solutions</a>
          <a href="#">doxatech</a>
        </p>
      </div>

      <div class="right">
        <a href="https://facebook.com/rencontredejeunesse" target="_blank"><%= image_tag "rj/2020/program/facebook.svg" %></a>
        <a href="https://www.instagram.com/rencontredejeunesse" target="_blank"><%= image_tag "rj/2020/program/instagram.svg" %></a>
        <a href="https://www.youtube.com/user/RencontredeJeunesse" target="_blank"><%= image_tag "rj/2020/program/youtube.svg" %></a>
      </div>
    </div>
  <div>
</section>