<header>
  <%= image_tag "layout/logo.png", class: "logo" %>

  <div class="user">
    <div><%= current_user.full_name %></div>
    <div><%= link_to image_tag("icons/gear.png") + " Mon compte", connect_edit_path %></div>
  </div>
  <div class="signout"><%= link_to "Déconnexion", signout_path, method: :delete %></div>

  <ul>
    <li class="text">Admininistration</li>
    <% if can?(:read, "admin/users") %><li><%= link_to "Utilisateurs", admin_users_path %></li><% end %>
    <li class="text">Commandes</li>
    <% if can?(:read, "admin/checkin") %><li><%= link_to "Checkin", admin_checkin_index_path %></li><% end %>
    <% if can?(:read, "admin/orders/rj") %><li><%= link_to "RJ", admin_orders_rj_index_path %></li><% end %>
    <% if can?(:read, "admin/orders/login") %><li><%= link_to "RJ Login", admin_orders_login_index_path %></li><% end %>
    <% if can?(:read, "admin/discounts") %><li><%= link_to "Codes promotionels", admin_discounts_path %></li><% end %>
    <li class="text">Bénévoles</li>
    <% if can?(:read, "admin/volunteers") %><li><%= link_to "Bénévoles", admin_volunteers_path %></li><% end %>
  </ul>
</header>
