<header id="header-frame">
  <div class="content-wrap">
    <%= image_tag "home/welcome/close.svg", id: "close-header" %>

    <ul data-gumshoe>
      <li><%= link_to "home", "/", class: active_class("/") %></li>
      <li><%= link_to "/vision", "/vision", class: active_class("/vision") %></li>
      <li><%= link_to "/RJ2018", "/rj/2018", class: active_class("/2018") %></li>
      <li><%= link_to "/RJLogin", "/login", class: active_class("/login") %></li>
    </ul>

    <%= render "layouts/headers/signin" %>
  </div>
</header>
