<header id="header-frame">
  <div class="content-wrap">
    <%= image_tag "home/welcome/close.svg", id: "close-header" %>

    <ul data-gumshoe>
      <li data-turbolinks="false"><%= link_to "home", "#welcome", class: "active" %></li>
      <li><%= link_to "/vision", "/vision" %></li>
      <li><%= link_to "/bénévole", "/volunteers" %></li>
      <li><%= link_to "/RJ2019", "/2019" %></li>
      <li><%= link_to "/RJLogin", "/login" %></li>
      <li><%= link_to "/FAQ", support_url(subdomain: false), class: active_class("/support") %></li>
      <li data-turbolinks="false"><%= link_to "histoire", "#history" %></li>
      <li data-turbolinks="false"><%= link_to "contact", "#contact" %></li>
    </ul>

    <%= render "layouts/headers/signin" %>
  </div>
</header>
