<header id="header-frame">
  <div class="content-wrap">
    <%= image_tag "home/welcome/close.svg", id: "close-header" %>

    <ul data-gumshoe>
      <li data-turbolinks="false"><%= link_to "home", "#welcome" %></li>
      <li><%= link_to "/vision", "/vision" %></li>
      <li><%= link_to "/bénévole", "/volunteers" %></li>
      <li><%= link_to "/RJ2018", "/2018" %></li>
      <li><%= link_to "/RJLogin", "/login" %></li>
      <li data-turbolinks="false"><%= link_to "devenir bénévole", "#volunteer" %></li>
      <li data-turbolinks="false"><%= link_to "devenir partenaire", "#partner" %></li>
      <li data-turbolinks="false"><%= link_to "histoire", "#history" %></li>
      <li data-turbolinks="false"><%= link_to "contact", "#contact" %></li>
    </ul>

    <%= render "layouts/headers/signin" %>
  </div>
</header>
