<h1>Badges</h1>

<div id="form">
  <%= form_tag admin_badges_path, multipart: true do %>

    <%= label_tag :file, "Fichier" %>
    <%= file_field_tag :file, accept: '.csv' %>

    <%= submit_tag "Télécharger les badges", class: "button" %>

  <% end %>
</div>

<h3>Autres badges</h3>

<ul>
  <li><%= link_to "> Badges bénévoles", volunteer_admin_badges_path(format: "pdf") %></li>
  <li><%= link_to "> Badges équipiers", prayer_admin_badges_path(format: "pdf") %></li>
  <li><%= link_to "> PDF d'explication!", "https://github.com/JS-Tech/rencontredejeunesse/blob/master/doc/badges/README.md"%></li>
</ul>

<style>
  li { padding: 5px;}
  li a:hover { color: blue;}
</style>