<h1>Badges</h1>

<div id="form">
  <%= form_tag admin_badges_path, multipart: true do %>

    <p>
      Fichier d'exemple CSV: <%= link_to "exemple.csv", "/exemple.csv", download: "exemple" %><br>
      Si vous avez une erreur alors que le secteur est juste, il s'agit parfois de caractères invisibles qui gènent.<br>
      Réécrivez la ligne en question à main.
    </p>

    <%= label_tag :file, "Fichier" %>
    <%= file_field_tag :file, accept: '.csv' %>

    <%= submit_tag "Télécharger les badges", class: "button" %>

  <% end %>
</div>

<h3>Autres badges</h3>

<ul>
  <li><%= link_to "Badges bénévoles", volunteer_admin_badges_path(format: "pdf") %></li>
  <li><%= link_to "Badges équipiers", prayer_admin_badges_path(format: "pdf") %></li>
</ul>
<hr>
<h3>Secteurs autorisés</h3>
<ul>
<% @sectors.each do |sector| %>
  <li><%= sector[:name] %></li>
<% end %>
</ul>
