<!-- User information fields -->

<div class="user-information">

  <div>
    <div><%= f.text_field :firstname, required: true, placeholder: true %></div>
    <div><%= f.text_field :lastname, required: true, placeholder: true %></div>
  </div>

  <div>
    <div><%= f.email_field :email, required: true, placeholder: true %></div>
    <div><%= f.text_field :phone, required: true, placeholder: true %></div>
  </div>

  <div>
    <div><%= f.text_field :address, required: true, placeholder: true %></div>
    <div><%= f.number_field :npa, required: true, placeholder: true %></div>
  </div>

  <div>
    <div><%= f.text_field :city, required: true, placeholder: true %></div>
    <div><%= f.country_select :country, priority_countries: ["CH", "FR", "BE"], required: true, placeholder: "pays" %></div>
  </div>

</div>

<di class="newsletter"v>
  <%= f.check_box :newsletter %>
  <p>Je souhaite m'inscrire à la newsletter et recevoir des infos exclusives de la RJ</p>
</div>
