<!-- User information fields -->

<div class="row">
  <div class="column">

    <%= f.text_field_with_label :firstname, required: true %>

    <%= f.email_field_with_label :email, required: true %>

    <%= f.text_field_with_label :address, required: true %>

    <%= f.text_field_with_label :city, required: true %>

  </div>

  <div class="column">

    <%= f.text_field_with_label :lastname, required: true %>

    <%= f.text_field_with_label :phone, required: true %>

    <%= f.number_field_with_label :npa, required: true %>

    <%= f.country_select_with_label :country, priority_countries: ["CH", "FR", "BE"], required: true %>

  </div>

</div>

<div class="row checkbox">
  <%= f.label :newsletter %>
  <%= f.check_box :newsletter %>
</div>
