<!-- User information fields -->

<div class="row">
  <div class="column">

    <%= f.label :firstname %>
    <%= f.text_field :firstname %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :city %>
    <%= f.text_field :city %>

  </div>

  <div class="column">

    <%= f.label :lastname %>
    <%= f.text_field :lastname %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :npa %>
    <%= f.number_field :npa %>

    <%= f.label :country %>
    <%= f.country_select :country, priority_countries: ["CH", "FR", "BE"] %>

  </div>

</div>

<div class="row checkbox">
  <%= f.label :newsletter %>
  <%= f.check_box :newsletter %>
</div>
