<!-- User information fields -->

<div class="user-information">

  <div class="row">
    <div><%= f.text_field_with_label :firstname, required: true %></div>
    <div><%= f.text_field_with_label :lastname, required: true %></div>
  </div>

  <div class="row">
    <div><%= f.email_field_with_label :email, required: true %></div>
    <div><%= f.text_field_with_label :phone, required: true %></div>
  </div>

  <div class="row">
    <div><%= f.text_field_with_label :address, required: true %></div>
    <div><%= f.number_field_with_label :npa, required: true %></div>
  </div>

  <div class="row">
    <div><%= f.text_field_with_label :city, required: true %></div>
    <div><%= f.country_select_with_label :country, priority_countries: ["CH", "FR", "BE"], required: true %></div>
  </div>

</div>

<div class="row checkbox">
  <%= f.label :newsletter %>
  <%= f.check_box :newsletter %>
</div>
