<!-- User information fields -->

<div class="user-information">

  <div class="row">
    <%= f.label :gender %>
    <div class="select"><%= f.select :gender, options_for_enum(f.object, :gender) %></div>
  </div>

  <div class="row">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, required: true, placeholder: true %>
  </div>
  <div class="row">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, required: true, placeholder: true %>
  </div>

  <% if f.object.new_record? %>
  <div class="row">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, placeholder: true %>
  </div>
  <% end %>

  <div class="row">
    <div>
      <%= f.label :phone %>
      <p>(+4177xxxxxxx)</p>
    </div>
    <%= f.text_field :phone, required: true, placeholder: true %>
  </div>

  <div class="row">
    <%= f.label :birthday %>
    <div class="select"><%= f.date_select :birthday, :start_year=>1900, required: true %></div>
  </div>

  <div class="row">
    <%= f.label :address %>
    <%= f.text_field :address, required: true, placeholder: true %>
  </div>
  <div class="row">
    <%= f.label :npa %>
    <%= f.text_field :npa, required: true, placeholder: true %>
  </div>

  <div class="row">
    <%= f.label :city %>
    <%= f.text_field :city, required: true, placeholder: true %>
  </div>
  <div class="row">
    <%= f.label :country %>
    <div class="country select"><%= f.country_select :country, priority_countries: ["CH", "FR", "BE"], required: true %></div>
  </div>
</div>

<div class="newsletter checkbox">
  <div class="row-wrap">
    <div class="row tight">
      <p>Recevoir la newsletter</p>  
      <div>
        <%= f.check_box :newsletter %>
      </div>
    </div>
    <div class="row tight">
      <span></span>
      <p class="description">Cette option te permet de recevoir des infos exclusives de la RJ via sa newsletter</p>
    </div>
  </div>
</div>