<!-- User information fields -->

<div class="user-information">

  <%= f.label :gender %><div class="select"><%= f.select :gender, options_for_enum(f.object, :gender) %></div>

  <%= f.text_field :firstname, required: true, placeholder: true %>
  <%= f.text_field :lastname, required: true, placeholder: true %>

  <%= f.email_field :email, required: true, placeholder: true %>
  <%= f.text_field :phone, required: true, placeholder: true %>

  <%= f.label :birthday %><div class="select"><%= f.date_select :birthday, :start_year=>1900 %></div>

  <%= f.text_field :address, required: true, placeholder: true %>
  <%= f.text_field :npa, required: true, placeholder: true %>

  <%= f.text_field :city, required: true, placeholder: true %>
  <div class="country-wrap"><%= f.country_select :country, priority_countries: ["CH", "FR", "BE"], required: true, placeholder: "pays" %></div>

</div>

<div class="newsletter">
  <%= f.check_box :newsletter %>
  <p>Je souhaite m'inscrire à la newsletter et recevoir des infos exclusives de la RJ</p>
</div>
