<h1>Participants</h1>

<%= form_tag nil, method: :get do %>

  <%= select_tag :key, options_for_select(@keys, params[:key]) %>

  <%= submit_tag "Sélectionner" %>

<% end %>

<p>
  La recherche fonctionne sur les champs Id ainsi que le prénom, nom.<br>
  Certaines colonnes sont "triables" en cliquant sur les en-têtes.<br>
</p>
<p>Nombre d'entrées: <%= @count %></p>

<%= @table.present(buttons: "buttons") %>
