
<div class="header">
  <div>
    <h1>Participants</h1>
  </div>
  <%= image_tag "admin/icons/user", class: "icon-img" %>
</div>

<div class="container">
  <%= form_tag nil, method: :get do %>

    <%= hidden_field_tag :token, params[:token] %>
    <%= select_tag :redirect_key, options_for_select(@keys, params[:bundle_key]) %>

    <%= submit_tag "Sélectionner" %>

  <% end %>

  <p>
    La recherche fonctionne sur les champs Id ainsi que le prénom, nom.<br>
    Certaines colonnes sont "triables" en cliquant sur les en-têtes.<br>
  </p>
  <p>Nombre d'entrées: <%= @count %></p>

  <%= @table.present(buttons: "buttons") %>
</div>
