<% content_for :id, "admin-orders-registrants-show" %>

<div class="checkin-header">
  <%= link_to "Retour au CHECKIN", admin_orders_checkin_index_path, class: "back" %>
  <h1>Ticket <i><%= @registrant.ticket_id %></i></h1>
  <%= link_to "Livrer", admin_orders_checkin_path(@registrant.ticket_id), method: :patch, class: "deliver" %>
  <p>N°<%= @registrant.ticket_id %></p>
</div>

<div class="content-wrap">

  <% if !@order.note.blank?%>
    <div class="note">
      <%= @order.note %>
    </div>
  <% end %>

  <!-- Product information -->

  <div class="products">
  </div>

  <div class="product-informations">
    <div><strong>Statut de la commande:</strong> <%= @order.status %></div>
    <div><strong>Ticket distribué:</strong> <%= @registrant.delivered %></div>
  </div>

  <!-- Order information -->
  <div class="order-information">
    <div><strong>Montant:</strong> <%= @order.amount / 100 %> CHF</div>
    <div><strong>Réduction:</strong> <%= @order.discount_amount / 100 %> CHF</div>
  </div>

  <!-- User information -->

  <div class="user-informations">
    <h3>Information de la personne</h3>
    <p>Nom: <%= @registrant.lastname %></p>
    <p>Prénom: <%= @registrant.firstname %></p>
  </div>

</div>

<style>
  #checkin.admin-orders-registrants-show {
    <% case @state %>
    <% when "ok" %>
    background: rgb(171,255,0);
    background: -moz-linear-gradient(top, rgba(171,255,0,1) 0%, rgba(1,242,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(171,255,0,1) 0%,rgba(1,242,0,1) 100%);
    background: linear-gradient(to bottom, rgba(171,255,0,1) 0%,rgba(1,242,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abff00', endColorstr='#01f200',GradientType=0 );
    <% when "infos" %>
    background: rgb(255,238,0);
    background: -moz-linear-gradient(top, rgba(255,238,0,1) 0%, rgba(255,204,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,238,0,1) 0%,rgba(255,204,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,238,0,1) 0%,rgba(255,204,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee00', endColorstr='#ffcc00',GradientType=0 );
    <% when "nok" %>
    background: rgb(255,129,0);
    background: -moz-linear-gradient(top, rgba(255,129,0,1) 0%, rgba(255,1,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,129,0,1) 0%,rgba(255,1,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,129,0,1) 0%,rgba(255,1,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8100', endColorstr='#ff0100',GradientType=0 );
    <% else %>
    <% end %>
  }
</style>