<h1>Confirmation d'inscription</h1>
<p>Merci pour votre commande.</p>
<p>
  Votre paiement a bien été reçu et votre inscription à la RJ Login est validée.
</p>
<p>
  <li><%= @order.user.full_name %></li>

  <li><%= @order.product.entries %> x entrée(s) RJ Login - CHF <%= Records::Login::ENTRY_PRICE %>.-/pce</li>
  <li>Total: CHF <%= @order.print_amount %>.-</li>
</p>

<h3>Sur place</h3>

<p>Pour obtenir votre entrée le jour de l'événement, veuillez imprimer cet email ou le conserver sur votre téléphone afin de présenter le code suivant au guichet:</p>

<table class="spacer">
  <tbody>
    <tr>
      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
    </tr>
  </tbody>
</table>

<table class="callout">
  <tr>
    <th class="callout-inner primary">
      <h1 class="text-center"><%= @order.human_id %></h1>
    </th>
    <th class="expander"></th>
  </tr>
</table>

<table class="spacer">
  <tbody>
    <tr>
      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
    </tr>
  </tbody>
</table>

<p>
  Pour tout complément d'information ou problème, vous pouvez envoyer un email à l'adresse inscriptions@rencontredejeunesse.ch .</p>
</p>
