<%= link_to "Retour au CHECKIN", admin_checkin_index_path %>

<h1>Commande <i><%= t("product.#{@order.product_name}") %></i></h1>
<p>N°<%= @order.order_id %></p>

<div>Statut: <b><%= human_status(@order) %></b>
<div>Livré: <%= delivered_status(@order) %></div>

<p>Note: <%= @order.note %></p>

<!-- Order information -->
<p><strong>Montant:</strong> <%= @order.print_amount %> CHF</p>
<p><strong>Réduction:</strong> <%= @order.discount_amount / 100 %> CHF</p>


<!-- Product information -->
<%= render @order.product_name %>

<!-- User information -->

<h3>Information de la personne</h3>
<%= render 'admin/users/show' %>

<%= link_to "Livrer", admin_checkin_path(@order.order_id), method: :patch %>
