<section id="contact">

  <div class="row main">
    <div>
      <div class="row sub first">
        <p>
          N’hésite pas à nous contacter si tu as une question. Il te suffit de remplir les informations ci-dessous et cliquer sur « envoyer ». Nous te répondrons au plus vite.
        </p>
      </div>
      <div class="row sub second">
        <div>
          <%= form_for Contact.new, url: contact_path do |f| %>

            <%= f.text_field :firstname, placeholder: "Prénom", required: true %>

            <%= f.text_field :lastname, placeholder: "Nom", required: true %>

            <%= f.text_field :subject, placeholder: "Sujet", required: true %>

            <%= f.email_field :email, placeholder: "Email", required: true %>

            <%= f.text_area :message, placeholder: "Message", required: true %>

            <div class="submit"><%= f.submit "Envoyer" %></div>

          <% end %>
        </div>
        <div>
          <p>ADDRESSE</p>
          <p>
            Rencontre de Jeunesse<br>
            1607 Palézieux<br>
            079 710 80 38
          </p>
        </div>
      </div>
    </div>
    <div>
      <h2>Contact</h2>
    </div>
  </div>
</section>
