<section id="contact">

  <div class="row main">
    <div>
      <div class="row sub first">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="row sub second">
        <div>
          <%= form_tag do %>

            <%= text_field_tag :firstname, nil, placeholder: "Prénom" %>

            <%= text_field_tag :lastname, nil, placeholder: "Nom" %>

            <%= text_field_tag :subject, nil, placeholder: "Sujet" %>

            <%= text_field_tag :email, nil, placeholder: "Email" %>

            <%= text_area_tag :message, nil, placeholder: "Message" %>

            <div class="submit"><%= submit_tag "Envoyer" %></div>

          <% end %>
        </div>
        <div>
          <p>Addresse</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Contact</h2>
    </div>
  </div>
</section>
