<% content_for :id, "option_order-new" %>

<h1><%= order_bundle.name %></h1>
<p><%= order_bundle.description %></p>

<div class="content-wrap">

<h1>Inscription bénévole</h1>

<% if signed_in? %>
  
  <%= @custom_form.render %>

<% else %>

  <%= render "sessions/form", redirect_url: new_option_order_path(params[:key]) %>

<% end %>
</div>

<%= render "layouts/headers/application" %>