<% content_for :id, "option-orders-new" %>

<div class="content-wrap">

  <h1><%= order_bundle.name %></h1>
  <p><%= order_bundle.description %></p>

  <% if signed_in? %>
    <div class="standard-form-row">
      <%= @custom_form.render %>
    </div>
  <% else %>
    <div class="standard-form-row">
      <%= render "sessions/form", redirect_url: new_option_order_path(params[:key]) %>
    </div>

  <% end %>
</div>

<%= render "layouts/headers/application" %>