<section id="contact">

  <div class="section-container">
    <div class="form">
      <h2>contact</h2>

      <%= form_for Contact.new, url: contact_path do |f| %>

        <%= f.select :category, Contact::CONTACT_EMAILS.map { |k, v| [t("contact.categories.#{k}"), k] } %>

        <%= f.text_field :firstname, placeholder: "Prénom", required: true %>

        <%= f.text_field :lastname, placeholder: "Nom", required: true %>

        <%= f.text_field :subject, placeholder: "Sujet", required: true %>

        <%= f.email_field :email, placeholder: "Email", required: true %>

        <%= f.text_area :message, placeholder: "Message", cols: 30, rows: 10, required: true %>

        <script src='https://hcaptcha.com/1/api.js' async defer></script>
        <div class="h-captcha" data-sitekey="<%= Rails.application.secrets.hcaptcha_site_key %>"></div>

        <div class="input <%= yield :id %>"><%= f.submit "Envoyer" %></div>

      <% end %>
    </div>

    <div class="address">
    <p>
      Association Rencontre de Jeunesse<br>
      1607 Palézieux<br>
      Suisse
    </p>
    </div>
  </div>

  <div id="map"></div>

</section>

<%#= javascript_include_tag "standalone/map.js" %>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly" async></script> -->