<div id="form">

  <h1>Modifier la commande <%= @order.order_id %></h1>

  <%= form_for @order, url: { action: "update" } do |f| %>

    <%= render 'error_messages', object: f.object %>

    <%= yield f %>

    <%= f.label :note %>
    <%= f.text_area :note, cols: "50", rows: "6" %>

    <%= f.submit nil, class: "button" %>

  <% end %>
</div>
