<div id="form">

  <%= form_for @order, url: { action: "update" } do |f| %>

    <%= render 'error_messages', object: f.object %>

    <h3>Information de contact</h3>

    <%= f.fields_for :user, @order.user do |user_f| %>
      <%= render "users/fields/information", f: user_f %>
    <% end %>

    <%= yield f %>

    <%= f.label :note %>
    <%= f.text_area :note, cols: "50", rows: "6" %>

    <%= f.submit nil, class: "button" %>

  <% end %>
</div>
