<div id="show">

  <h1>Commande <%= @order.order_id %></h1>

  <%= link_to "Editer", { action: "edit" }, class: "edit" %>

  <%= yield %>

  <!-- Order information -->

  <h3>Information sur la commande</h3>
  <p><strong>Montant:</strong> <%= @order.print_amount %> CHF</p>
  <p><strong>Statut:</strong> <%= @order.status %></p>
  <p><strong>N° de commande:</strong> <%= @order.order_id %></p>
  <p><strong>N° d'entrée:</strong> <%= @order.human_id %></p>

  <!-- User information -->

  <h3>Information de la personne</h3>
  <%= render 'admin/users/show' %>

</div>
