<section id="top20">

  <% @images_i = (0..21).to_a.shuffle %>

  <div class="section-container">
    <div class="row-title">
      <div class="first-half"></div>
      <div class="second-half">
        <h2>Top 20</h2>
      </div>
    </div>

    <div class="images">
      <% @images_i.each.with_index do |j, index| %>
        <figure>
          <picture>
            <source type="image/webp" srcset="<%= image_url "highlights/18/top20/images/small/#{j}.jpg.webp" %>">
            <%= image_tag "highlights/18/top20/images/small/#{j}.jpg", class: "slideshow small image", data: { index: index } %>
          </picture>
        </figure>
      <% end %>
    </div>

    <div id="myModal" class="modal">
      <span class="slideshow close cursor">&times;</span>
      <div class="modal-content">
        <% @images_i.each.with_index do |j, index| %>
          <div class="mySlides">
            <div class="numbertext"><%= "#{index+1} / #{@images_i.size}" %></div>
            <picture>
              <source type="image/webp" srcset="<%= image_url "highlights/18/top20/images/#{j}.jpg.webp" %>">
              <%= image_tag "highlights/18/top20/images/#{j}.jpg", class: "slideshow big image", data: { index: index } %>
            </picture>
          </div>
        <% end %>
        
        <a class="slideshow prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="slideshow next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>
      </div>
    </div>

  </div>

  <div class="banner"></div>

</section>

<%= javascript_include_tag "standalone/lightbox.js" %>