<% content_for :id, "orders-users-edit" %>

<div class="content-wrap">
  <%= form_for @user, url: orders_users_update_path(id: params[:id]) do |f| %>

    <%= render "error_messages", object: f.object %>

    <div class="standard-form-row">
      <%= render "users/fields/information", f: f %>

      <div class="row">
        <span></span>
        <%= f.submit nil, class: "button" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "layouts/headers/application" %>