<% content_for :id, "orders-users-new" %>

<div class="content-wrap">

  <div class="signin">
    <h2>Se connecter</h2>

    <%= render "sessions/form", redirect_url: new_orders_event_path(key: params[:key]) %>
  </div>

  <div class="signup standard-form-row">
    <h2>S'inscrire</h2>

    <%= form_for @user, url: orders_users_path(product: params[:product]) do |f| %>

      <%= render "error_messages", object: f.object %>

      <%= render "users/fields/new", f: f %>

    <% end %>
  </div>
</div>

<%= render "layouts/headers/application" %>