<% content_for :id, "orders-users-new" %>

<div class="content-wrap">
  <div class="signin">

    <h2>Se connecter</h2>

    <%= form_for :session, url: signin_orders_users_path(product: params[:product]) do |f| %>

      <div class="row">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Email" %>
      </div>
      <div class="row">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Mot de passe" %>
      </div>
      <div class="row">
        <span></span>
        <%= f.button %>
      </div>

    <% end %>
  </div>

  <div class="signup">
    <h2>S'inscrire</h2>

    <%= form_for @user, url: orders_users_path(product: params[:product]) do |f| %>

      <%= render "error_messages", object: f.object %>

      <%= render "users/fields/information", f: f %>

      <div class="row">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="row">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="row">
        <span></span>
        <%= f.submit "Créer mon compte", class: "button" %>
      </div>

    <% end %>
  </div>
</div>