<%= form_for [:admin, @payment] do |f| %>

  <%= hidden_field_tag :order_id, order.id if @payment.new_record? %>

  <p>
    <ul>
      <li>Le montant est en centimes: pour 30 CHF, indiquez 3000</li>
      <li>Il ne doit y avoir que UN SEUL paiement de type PRINCIPAL</li>
    </ul>
  </p>

  <%= render 'error_messages', object: f.object %>

  <div class="row">
    <%= f.label :payment_type %>
    <div class="select">
      <%= f.select :payment_type, options_for_enum(f.object, :payment_type) %>
    </div>
  </div>
  <div class="row">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
  <div class="row">
    <%= f.label :status %>
    <div class="select">
      <%= f.select :status, [["En attente", 41], ["Payé", 9], ["Annulé", 1]] %>
    </div>
  </div>
  <div class="row">
    <span></span>
    <%= f.submit %>
  </div>

<% end %>