<table class="payments">
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Montant</th>
      <th>Statut</th>
      <th>Action 1</th>
      <th>Action 2</th>
    </tr>
    <% payments.each do |payment| %>
      <tr>
        <td>
          <%= t("payment.payment_types.#{payment.payment_type}") %>
        </td>
        <td>
          <%= l(payment.time, format: :normal) %>
        </td>
        <td>
          <%= display_price(payment.amount) %>
        </td>
        <td>
          <%= payment.status %>
        </td>
        <td>
          <%= link_to "Modifier", edit_admin_payment_path(payment) %>
        </td>
        <td>
          <%= link_to "Annuler", admin_payment_path(payment), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce paiement ?" } %>
        </td>
      </tr>
    <% end %>
  </table>