<div class="corona-form-row">
    <h2>Demande de remboursement</h2>

    <a href="/refund" target="_blank">Information sur les remboursements</a>

    <%= form_for [:connect, @refund] do |f| %>

    <%= render "error_messages", object: f.object %>

    <div class="row">
        <%= f.label :order_id %>
        <%= f.collection_select :order_id, @refund.orders, :id, :summary %>
    </div>

    <div class="row">
        <p class="title"><%= f.label :refund_type %></p>

        <div class="radio">
            <label>
                <%= f.radio_button :refund_type, :nothing %>
                <span>Je fais don de mon inscription</span>
            </label>
        </div>

        <div class="radio">
            <label>
                <%= f.radio_button :refund_type, :money %>
                <span>Je souhaite être remboursé</span>
            </label>
        </div>
    </div>

    <div class="row comment">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
    </div>

    <div class="row">
        <%= f.submit "Envoyer ma demande" %>
    </div>

    <% end %>
</div>