<h2>Récapitulatif</h2>
<!-- User information -->

<div class="user-information standard-form-row">
  <div class="row tight">
    <span></span>
    <h3>Mes informations</h3>
  </div>
  <% unless @order.user.valid? %>
  <div class="row">
    <span></span>
    <p><b style="color: red;">Attention, mets à jour ton compte avec une adresse postale sinon le paiement risque d'être refusé !</b></p>
  </div>
  <% end %>
  <div class="row tight">
    <span></span>
    <p><%= t("user.genders.#{@order.user.gender}") %> <%= @order.user.lastname %> <%= @order.user.firstname %></p>
  </div>
  <div class="row tight">
    <span></span>
    <p><%= l @order.user.birthday if @order.user.birthday %></p>
  </div>
  <div class="row tight">
    <span></span>
    <p><%= @order.user.email %></p>
  </div>
  <div class="row tight">
    <span></span>
    <p><%= @order.user.phone %></p>
  </div>
  <div class="row tight">
    <span></span>
    <p><%= @order.user.address %></p>
  </div>
  <div class="row tight">
    <span></span>
    <p><%= @order.user.npa %> <%= @order.user.city %></p>
  </div>
  <div class="row tight">
    <span></span>
    <p> <%= @order.user.country_name %></p>
  </div>

  <div class="row">
    <span></span>
    <p><%= link_to "Editer mon compte", orders_users_edit_path(id: @order.order_id), class: "button-link" %></p>
  </div>
</div>

<%= yield %>
