<div id="order">

  <div id="summary">

    <p><b>Récapitulatif</b></p>
    <!-- User information -->

    <table>
      <tr>
        <td><%= @order.user.lastname %></td>
        <td><%= @order.user.firstname %></td>
      </tr>
      <tr>
        <td><%= t("user.genders.#{@order.user.gender}") %></td>
        <td><%= l @order.user.birthday %></td>
      </tr>
      <tr>
        <td><%= @order.user.email %></td>
        <td><%= @order.user.phone %></td>
      </tr>
      <tr>
        <td><%= @order.user.address %></td>
        <td><%= @order.user.npa %></td>
      </tr>
      <tr>
        <td><%= @order.user.city %></td>
        <td><%= @order.user.country_name %></td>
      </tr>
    </table>

    <%= yield %>

  </div>

  <!-- Postfinance form -->

  <form method="post" action="<%= postfinance_url %>">

    <input type="hidden" name="PSPID" value="<%= Order::PSPID %>">

    <input type="hidden" name="ORDERID" value="<%= @order.order_id %>">

    <input type="hidden" name="AMOUNT" value="<%= @order.amount %>">

    <input type="hidden" name="CURRENCY" value="CHF">

    <input type="hidden" name="LANGUAGE" value="fr_FR">

    <input type="hidden" name="CN" value="<%= @order.user.full_name %>">

    <input type="hidden" name="EMAIL" value="<%= @order.user.email %>">

    <input type="hidden" name="OWNERZIP" value="<%= @order.user.npa %>">

    <input type="hidden" name="OWNERADDRESS" value="<%= @order.user.address %>">

    <input type="hidden" name="OWNERCTY" value="<%= @order.user.country_name %>">

    <input type="hidden" name="OWNERTOWN" value="<%= @order.user.city %>">

    <input type="hidden" name="SHASIGN" value="<%= @order.shain %>">

    <%= image_tag "orders/pay-cards.png" %>
    <input type="submit" value="Payer">

  </form>

  <%= form_tag invoice_orders_rj_path, multipart: true, class: "invoice" do %>
    <p>Tu as la possibilité de payer par facture si tu inscris un groupe de <b>15 personnes ou plus</b>. Upload <a href="/inscription.xlsx">le document</a> téléchargé à l'étape précédente, complété avec les informations. Tu recevras ensuite sous peu une facture.</p>
    <%= file_field_tag :document %>
    <%= submit_tag "Payer par facture" %>
  <% end %>

  <!-- -->
</div>
