<%= form_for @order, url: { action: @order.new_record? ? "create" : "update" } do |f| %>

  <% if f.object.errors.any? %>
  <div id="error">
    <p>Le formulaire contient <%= pluralize(f.object.errors.count, "erreur") %>.</p>
    <p><%= f.object.product.errors.full_messages_for(:participants).join(" / ") %></p>
  </div>
  <% end %>

  <!-- Event specific information -->
  <%= yield f %>
  <!-- -->

  <div class="standard-form-row">
    <div class="conditions checkbox row">
      <div>
        <%= f.label :conditions do %>
          J'ai lu <%= link_to "les conditions générales", "/conditions_generales.html", target: "_blank" %> et les accepte.
        <% end %>
      </div>
      <div>
        <%= f.checkbox_with_errors :conditions, required: true %>
      </div>
    </div>

    <div class="row">
      <span></span>
      <p class="infos">Paiement par PostFinance Card, e-finance ou carte de crédit. Vous pourrez encore confirmer vos informations avant de payer.</p>
    </div>
    <div class="row">
      <span></span>
      <p><%= image_tag "orders/pay-cards.png" %></p>
    </div>

    <div class="row">
      <span></span>
      <%= f.submit %>
    </div>
    <div class="row">
      <span></span>
      <%= link_to "Continuer plus tard", pending_connect_orders_path %>
    </div>

  </div>

<% end %>
