<div id="order">
  <%= form_for @order, url: { action: @order.new_record? ? "create" : "update" } do |f| %>

    <%= render "error_messages", object: f.object %>

    <!-- User information -->
    <%= f.fields_for :user do |person_f| %>
      <%= render "users/fields/information", f: person_f %>
    <% end %>
    <!-- -->

    <!-- Event specific information -->
    <%= yield f %>
    <!-- -->

    <div class="row checkbox">
      <%= f.label :conditions do %>
        J'ai lu <%= link_to "les conditions générales", "/conditions_generales.html", target: "_blank" %> et les acceptent.
      <% end %>
      <%= f.check_box :conditions %>
    </div>

    <div class="price">
      <div><strong>Frais d'inscription:</strong> 2 CHF</div>
      <div><strong>Total:</strong> <span id="amount">0</span> CHF</div>
    </div>

    <p class="infos">Paiement par PostFinance Card, e-finance ou carte de crédit. Vous pourrez encore confirmer vos informations afin de payer.</p>
    <%= image_tag "orders/pay-cards.png" %>

    <%= f.submit %>

  <% end %>
</div>
