<%= form_for @order, url: { action: @order.new_record? ? "create" : "update" } do |f| %>

  <%= render "error_messages", object: f.object %>

  <!-- User information -->
  <%= f.fields_for :user do |person_f| %>
    <%= render "users/fields/information", f: person_f %>
  <% end %>
  <!-- -->

  <!-- Event specific information -->
  <%= yield f %>
  <!-- -->

  <%= f.label :conditions %>
  <%= f.check_box :conditions %>

  <div>Frais d'inscription: 5 CHF</div>
  <div>Total: <span id="amount">0</span> CHF</div>

  <%= f.submit %>

<% end %>
