<%= render layout: 'admin/orders/edit' do |f| %>

  <%= f.fields_for :product, @order.product do |product_f| %>

    <%= product_f.label :group %>
    <%= product_f.text_field :group %>

    <p class="hint">
      Attention, en modifiant les participants, vous modifiez également les prestations à payer !
    </p>

    <h3>Participants</h3>

    <div class="block">
      <%= render "orders/rj/participants", product_f: product_f, participants: @order.product.participants %>
    </div>

  <% end %>

<% end %>
