<h1>Modifier un bénévole</h1>

<div id="form">

  <%= form_for [:admin, @volunteer] do |f| %>

    <%= render 'error_messages', object: f.object %>

    <%= f.label :sector %>
    <%= f.select :sector, options_for_enum(f.object, :sector) %>

    <%= f.label :comment %>
    <%= f.text_area :comment %>

    <%= f.submit nil, class: "button" %>

  <% end %>

</div>
