<h1>Bénévoles</h1>

<%= form_tag nil, method: :get do %>

  <%= hidden_field_tag :token, params[:token] %>
  <%= select_tag :key, options_for_select(keys, params[:key]) %>
  <%= select_tag :sector, options_for_select(sectors, params[:sector]), include_blank: true %>

  <%= submit_tag "Sélectionner" %>

<% end %>

<%= @table.present(buttons: "buttons") %>
