<%= render layout: "orders/form" do |f| %>

  <%= f.fields_for :product do |product_f| %>

    <%= product_f.text_field :group, placeholder: true %>

    <h2>Ajouter des forfaits</h2>
    <p>Vous avez la possibilité de commander plusieurs forfaits en ajouter des personnes ci-dessous.</p>
    <%= render "participants", product_f: product_f, participants: @order.product.participants %>

    <h2>Dormir sur place</h2>
    <p>Possibilité de dormir sur place. Le prix est de 30.- pour les 2 nuits (taxe de séjour incluse).</p>
    <%= product_f.number_field :boy_beds, class: "amount-boybeds", placeholder: true  %>

    <%= product_f.number_field :girl_beds, class: "amount-girlbeds", placeholder: true  %>

  <% end %>

  <!-- Voluntering -->

  <div class="be-volunteer">
    <h2>S'engager comme bénévole</h2>
    <p>Tu peux cocher ci-dessous les secteurs dans lesquelles tu voudrais servir comme bénévole durant le weekend de la RJ.</p>
  </div>

  <div class="volunteer">
  <%= fields_for @volunteer do |volunteer_f| %>

    <div class="sectors">
      <table>
      <% VolunteerForm.sectors.each do |sector| %>

        <tr>
          <td><%= volunteer_f.check_box sector %></td>
          <td><%= volunteer_f.label sector %></td>
        </tr>

      <% end %>
      </table>
    </div>
    <%= volunteer_f.text_field :other, class: 'other', placeholder: true %>

    <%= volunteer_f.text_area :comment, placeholder: true %>

  <% end %>
  </div>

<% end %>
