<div class="fields-for participants wrap">
  <%= product_f.fields_for :participants, (participants.build_from_user(current_user) unless participants.any?) do |f| %>
    <div class="participants-fields wrap">

      <div class="participants-wrap">
        <div class="row">
          <%= f.label :gender %>
          <div class="select"><%= f.select :gender, options_for_enum(f.object, :gender) %></div>
        </div>

        <div class="row">
          <%= f.label :firstname %>
          <%= f.field_with_errors :text, :firstname, autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :lastname %>
          <%= f.field_with_errors :text, :lastname, autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :birthday %>
          <div class="select"><%= f.date_select :birthday, start_year: 1920, end_year: 2006 %></div>
        </div>

        <div class="row">
          <%= f.label :lodging %>
          <%= f.check_box :lodging, class: "lodging-checkbox" %>
        </div>
      </div>

      <%= f.hidden_field :_destroy, identifier: "destroy" %>

      <button type="button" class="remove-fields" data-type="participants">Supprimer</button>
    </div>

    <button type="button" class="add-fields" data-type="participants" data-count="<%= participants.size %>">
      Ajouter une entrée
    </button>

  <% end %>
</div>
