<% content_for :id, "order-rj" %>

<div class="row first confirmation">
  <div>
    <h2 class="font-light">Confirmation</h2>
  </div>

  <div>
    <div class="form-wrap">
      <div class="review">
        <%= render layout: "orders/confirmation" do %>

          <!-- Product information -->
          <p><b>Nombre de forfaits:</b> <%= @order.product.entries %></p>
          <p><b>Lits pour gars:</b> <%= @order.product.boy_beds %></p>
          <p><b>Lits pour filles:</b> <%= @order.product.girl_beds %></p>
          <p><b>Groupe/église:</b> <%= @order.product.group %></p>

          <!-- Volunteer information -->

          <p>
            <b>Bénévolat:</b> <%= @volunteer.selected %>
          </p>

        <% end %>
      </div>
    </div>
  </div>
</div>
