<% content_for :id, "order-rj" %>

<div class="row first">
  <div>
    <h2 class="font-light">Confirmation</h2>
  </div>

  <div>
    <div class="form-wrap">
      <div class="review">
        <%= render layout: "orders/confirmation" do %>

          <!-- Product information -->
          <p>
            Nombre de forfaits: <%= @order.product.entries %><br>
            Lits pour gars: <%= @order.product.boy_beds %><br>
            Lits pour filles: <%= @order.product.girl_beds %><br>
            Groupe/église: <%= @order.product.group %><br>
          </p>

          <!-- Volunteer information -->

          <%= @volunteer.selected %>
          <%= @volunteer.other %>
          <%= @volunteer.comment %>

        <% end %>
      </div>
    </div>
  </div>
</div>
