<% content_for :id, "order-rj" %>

<div class="review">
  <h1>RJ 2017</h1>
  <h2>Confirmation</h2>

  <%= render layout: "orders/confirmation" do %>

    <!-- Product information -->
    <p>
      Nombre de forfaits: <%= @order.product.entries %><br>
      Lits pour gars: <%= @order.product.boy_beds %><br>
      Lits pour filles: <%= @order.product.girl_beds %><br>
      Groupe/église: <%= @order.product.group %><br>
    </p>

    <!-- Volunteer information -->

    <%= @volunteer.selected %>
    <%= @volunteer.other %>
    <%= @volunteer.comment %>

  <% end %>
</div>
