<% content_for :id, "order-rj" %>

<h1>RJ 2017</h1>
<h2>Confirmation</h2>

<%= render layout: "orders/confirmation" do %>

  <!-- Product information -->

  Nombre de forfaits: <%= @order.product.entries %>
  Lits pour gars: <%= @order.product.boy_beds %>
  Lits pour filles: <%= @order.product.girl_beds %>
  Groupe/église: <%= @order.product.group %>

  <!-- Volunteer information -->

  <%= @volunteer.selected %>
  <%= @volunteer.other %>
  <%= @volunteer.comment %>

<% end %>
