<% content_for :id, "posts-show" %>

<h1>Voir le post</h1>
<h4>Par <%= @post.user.full_name %>, ajouté le <%= l(@post.created_at, format: :normal) %></h4>

<p><%= @post.message %></p>

<%= image_tag @post.image.file.thumb.url %>

<h3>Commentaires</h3>

<table class="comments">
  <tr>
    <th>Contenu</th>
    <th>Auteur</th>
    <th>Posté le</th>
    <th>Action 1</th>
    <th>Action 2</th>
  </tr>
  <% @post.comments.includes(:user).each do |comment| %>
  <tr>
    <td><%= comment.message %></td>
    <td><%= comment.user.full_name %>
    <td><%= l comment.created_at, format: :normal %>
    <td><%= link_to "Modifier", edit_admin_comment_path(comment) %></td>
    <td><%= link_to "Supprimer", admin_comment_path(comment), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer le commentaire ?" } %></td>
  </tr>
  <% end %>
</table>