<% content_for :id, "option-orders-index" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_root_path,
    title: "Mes engagements" %>
<% end %>

<div class="connect-list-view">

  <div class="item">
    <% @orders.each do |order| %>
      <%= order.order_bundle.name %> (<%= l order.created_at, format: :pretty_date %>)
      <%= link_to "", connect_option_order_path(order), class: "overlay" %>
    <% end %>
  </div>

</div>