<% content_for :id, "option-orders-show" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_option_orders_path,
    title: @order.order_bundle.name %>
<% end %>


<h2>Résumé</h2>

  <p>Date: <%= l @order.created_at, format: :pretty_date %></p>

<% if @order.order.progress? %>

  <p>
    Commande en cours<br>
    <%= link_to "Continuer la commande", edit_orders_event_path(@order.order.order_id, key: @order.order_bundle.key) %>
  </p>

<% end %>

<% if @order.order.progress? || @order.order.unpaid? %>

  <p>
    Tu peux recommencer ta commande depuis le départ<br>
    <%= link_to "Recommencer la commande", connect_option_order_path(@order), method: :delete, data: { confirm: "Es-tu sûr de vouloir recommencer ?" } %>
  </p>

<% end %>

<h2>Ton inscription</h2>

  <p>
    <% CustomForm.display(@order.completed_form) do |label, value| %>
      <%= label %>: <i><%= value %></i><br>
    <% end %>
  </p>

<h2>Ta commande</h2>

<p>L'inscription est validée si la commande est complétée et payée.</p>
<%= link_to "Voir ma commande", connect_order_path(@order.order.order_id) %>
<p>Statut de la commande:  <%= human_order_status(@order.order) %></p>

<% if @order.order.paid? %>

<p><i>Ta commande est validée. Félicitations !</i></p>

<% end %>