<h1>Nouveau bénévole</h1>
<p>Un bénévole a confirmé son inscription !</p>

<h5>Information</h5>
<p>
  Nom: <%= @volunteer.user.lastname %><br>
  Prénom: <%= @volunteer.user.firstname %><br>
  Email: <%= @volunteer.user.email %><br>
  Adresse: <%= @volunteer.user.address %>, <%= @volunteer.user.npa %> <%= @volunteer.user.city %><br>
  Téléphone: <%= @volunteer.user.phone %>
</p>
<p>
  Secteur: <%= t("sector.attributes.#{@volunteer.sector}") if @volunteer.sector %><br>
  T-shirt: <%= t("volunteer.tshirt_sizes.#{@volunteer.tshirt_size}") %><br>
  Commentaire: <%= @volunteer.comment %>
</p>
