<div id="form">

	<%= form_for [:admin, @discount] do |f| %>

		<%= render 'error_messages', object: f.object %>

		<%= f.label :category %>
		<%= f.select :category, options_for_enum(f.object, :category) %>

    <p class="hint">
			Si de catégorie "Argent" ou "Pourcentage"<br>
			Argent: en centimes (min. 500) / Pourcentage: 0-100
		</p>
    <%= f.label :reduction %>
    <%= f.number_field :reduction %>

    <p class="hint">Si de catégorie "Gratuité"</p>
    <%= f.label :number %>
    <%= f.number_field :number %>

		<%= f.label :note %>
		<%= f.text_field :note %>

		<%= f.submit nil, class: "button" %>

	<% end %>

</div>
