
<div class="header">
  <div>
    <h1>Commandes</h1>
  </div>
  <%= image_tag "admin/icons/user", class: "icon-img" %>
</div>

<div class="container">
  <%= form_tag nil, method: :get do %>

    <%= hidden_field_tag :token, params[:token] %>
    <%= select_tag :key, options_for_select(@keys, params[:key]) %>

    <%= submit_tag "Sélectionner" %>

  <% end %>

  <%= @table.present(buttons: "buttons") %>
</div>
