<div id="show">

  <h1>Commande spéciale</h1>

  <h3>Information du formulaire</h3>
  <ul>
  <% CustomForm.display(@option_order.completed_form) do |label, value| %>

    <li><%= label %>: <i><%= value %></i></li>

  <% end %>
  </ul>

  <h3>Information de la personne</h3>
  <%= render 'admin/users/show', user: @option_order.user %>

  <h3>Information de la commande</h3>

  <h4>Statut</h4>
  <p><%= human_order_status(@option_order.order) %></p>

  <h4>Produits commandés</h4>
  <ul>
  <% @option_order.order.items.each do |item| %>
    <li><%= item.name %> · <%= item.price %></li>
  <% end %>
  </ul>

</div>