<% content_for :id, "admin-checkin" %>

<%= link_to "Retour Admin", "/admin" %>

<div class="content-wrap">

  <h1>Contrôle de commande</h1>

  <%= form_tag admin_orders_checkin_index_path, id: "checkin-form" do %>

    <%= label_tag :ticket_id, "Entrez le numéro de commande" %>
    <%= text_field_tag :ticket_id, nil, maxlength: "14", autofocus: true, autocomplete: "off" %>

    <%= submit_tag "Afficher", class: "button" %>

  <% end %>
</div>

<%= javascript_include_tag "orders/checkin" %>
