<section id="comitee">

  <div class="section-container">
    
    <div class="title">
      <div class="first-half">
        <h2>Le comité</h2>
      </div>
      <div class="second-half"></div>
    </div>

    <div class="people">
      <%= render "pages/sections-vision/_someone", 
        fullname: "David Van der Maas", 
        title: "Title (fonction)" %>
      <%= render "pages/sections-vision/_someone", 
        fullname: "Yves Matthey", 
        title: "Title (fonction)" %>
      <%= render "pages/sections-vision/_someone", 
        fullname: "Paul Baloche", 
        title: "Title (fonction)" %>
      <%= render "pages/sections-vision/_someone", 
        fullname: "Yves Matthey", 
        title: "Title (fonction)" %>
      <%= render "pages/sections-vision/_someone", 
        fullname: "Paul Baloche", 
        title: "Title (fonction)" %>
      <%= render "pages/sections-vision/_someone", 
        fullname: "David Van der Maas", 
        title: "Title (fonction)" %>   
    </div>
  </div>

</section>