<h1>Inscription sur facture</h1>
<p>Une nouvelle commande nécessite une facture.</p>
<p>
  Commande n°<%= @order.order_id %><br>
  Montant: <%= @order.print_amount %> CHF<br>
</p>

<p>
  <strong>Débiteur</strong><br>
  Nom: <%= @order.user.lastname %><br>
  Prénom: <%= @order.user.firstname %><br>
  Email: <%= @order.user.email %><br>
  Adresse: <%= @order.user.address %>, <%= @order.user.npa %> <%= @order.user.city %><br>
  Téléphone: <%= @order.user.phone %>
</p>

<p>Information de la commande</p>
<table class="order" style="background:#eee;">
  <tr>
    <th>Désignation</th><th>Quantité</th><th>CHF/pce</th><th></th>
  </tr>
  <tr>
    <td>Forfaits RJ</td><td><%= @order.product.entries %></td><td><%= Records::Rj.ENTRY_PRICE(@order.created_at) %>.-</td><td><%= entries_price(@order.product) %>.-</td>
  </tr>
  <tr>
    <td>Places pour dormir</td><td><%= @order.product.man_lodging %>x GARS / <%= @order.product.woman_lodging %>x FILLES</td><td><%= Records::Rj::LODGING_PRICE %>.-</td><td><%= lodging_price(@order.product) %>.-</td>
  </tr>
  <tr>
    <td>Frais d'inscription</td><td></td><td></td><td><%= Records::Rj::FEE %>.-</td>
  </tr>
  <tr>
    <td></td><td></td><td><b>Total</b></td><td><b><%= @order.print_amount %> CHF</b></td>
  </tr>
</div>
