<div class="fields-for nested-form registrants wrap standard-form-row">
  <%= parent_f.fields_for :registrants, (registrants.build_from_user(current_user) unless registrants.any?) do |f| %>
    <%= content_tag :div, class: "registrants-fields wrap", style: hidden_if_destroyed(f.object) do %>

      <div class="registrants-wrap">
        <div class="row">
          <%= f.label :gender %>
          <div class="select"><%= f.select :gender, options_for_enum(f.object, :gender) %></div>
        </div>

        <div class="row">
          <%= f.label :firstname %>
          <%= f.field_with_errors :text, :firstname, autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :lastname %>
          <%= f.field_with_errors :text, :lastname, autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :birthday %>
          <div class="select"><%= f.date_select_with_errors :birthday, { start_year: 1920, end_year: 2007 } %></div>
        </div>

        <div class="row">
          <%= f.label :item_id %>
          <div class="select"><%= f.collection_select_with_errors :item_id, items, :id, :name_with_price %></div>
        </div>
      </div>
      
      <%= f.hidden_field :_destroy, identifier: "destroy" %>
      <div class="row">
        <span></span>
        <button type="button" class="remove-fields sub-button" data-type="registrants">Supprimer l'entrée</button>
      </div>
    <% end %>

  <% end %>

  <div class="row">
    <span></span>
    <button type="button" class="add-fields sub-button" data-type="registrants" data-limit="<%= bundle_limit %>" data-count="<%= registrants.size %>">
      Ajouter une entrée
    </button>
  </div>
</div>
