<%= render "orders/confirmation" do %>

  <!-- Registrants information -->
  <div class="registrants-information standard-form-row">
    <div class="row">
      <span></span>
      <h3>Mes entrées</h3>
    </div>

    <% @order.registrants.each do |registrant| %>
      <div class="registrant">
        <div class="row tight">
          <span>Nom</span>
          <p>
            <%= t("registrant.genders.#{registrant.gender}") %>
            <%= registrant.firstname %> <%= registrant.lastname %>
          </p>
        </div>
        <div class="row tight">
          <p>Date de naissance</p>
          <p><%= l registrant.birthday if registrant.birthday %></p>
        </div>
        <div class="row tight">
          <span></span>
          <p><%= registrant.item.name_with_price %></p>
        </div>
      </div>
    <% end %>

    <div class="row">
      <span></span>
      <%= link_to " Modifier la commande", edit_orders_event_path(@order.order_id, key: params[:key]), class: "button-link" %>
    </div>
  </div>

<% end %>