<% content_for :id, "users-edit" %>

<section class="content-wrap">

  <div id="connect-header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_root_path, remote: false %>
    <h1>Mon compte</h1>
  </div>

  <div id="light-form">

    <%= form_for current_user, url: { action: "update" } do |f| %>

      <%= render "error_messages", object: f.object %>

      <div class="row">
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
      </div>

      <%= render "users/fields/information", f: f %>

      <div class="row">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Laissez blanc pour garder le mot de passe actuel" %>
      </div>

      <div class="row">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="submit">
        <%= f.submit nil, class: "button" %>
      </div>

    <% end %>

  </div>

</div>