<% content_for :id, "users-edit" %>

<%= content_for :header do %>
  <%= render "connect/page_header", link: connect_root_path, title: "Mon compte" %>
<% end %>


<div id="light-form">

  <%= form_for current_user, url: { action: "update" } do |f| %>

    <%= render "error_messages", object: f.object %>

    <div class="row">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
    </div>

    <%= render "users/fields/information", f: f %>

    <div class="row">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Laissez blanc pour garder le mot de passe actuel" %>
    </div>

    <div class="row">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="submit">
      <%= f.submit nil, class: "button" %>
    </div>

  <% end %>

</div>
