<h1>Modifier un témoignage</h1>

<div id="form">

	<%= form_for [:admin, @testimony] do |f| %>

		<%= render 'error_messages', object: f.object %>

		<%= f.label :message %>
		<%= f.text_area :message %>

		<%= f.submit nil, class: "button" %>

	<% end %>

</div>

