<% content_for :id, "orders-events-show" %>

<div class="header">
  <div>
    <h1>Commande <%= @event.order_id %></h1>
  </div>
  <%= image_tag "admin/icons/user.png", class: "icon-img" %>
</div>

<div class="container">
  <div class="buttons">
    <%= link_to "Retour au checkin", admin_orders_checkin_index_path, class: "grey" %>
    <%= link_to "Editer la commande", { action: "edit" }, class: "edit, edit-btn" if can?(:edit, "admin/orders/events") %>
  </div>

  <!-- Order information -->

  <h2>Information sur la commande</h2>

  <table class="first-col-header">
    <tr>
      <td>Montant</td>
      <td><%= display_price(@event.amount) %></td>
    </tr>
    <tr>
      <td>Réduction</td>
      <td><%= display_price(@event.discount_amount) %></td>
    </tr>
    <tr>
      <td>Statut</td> 
      <td><%= human_order_status(@event) %></td>
    </tr>
    <tr>
      <td>N° de commande</td> 
      <td><%= @event.order_id %></td>
    </tr>
  </table>

  <h2>Note</h2>

  <p><%= @event.note %></p>

  <!-- Paiements -->

  <h2>Paiements</h2>

  <%= render "admin/payments/summary", payments: @event.payments %>

  <!-- Items -->

  <h2>Produits commandés</h2>

  <table class="first-row-header">
    <tr class="header">
      <td>Prénom</td>
      <td>Nom</td>
      <td>Age</td>
      <td>Produit</td>
      <td>Prix</td>
      <td>Livré?</td>
      <td>Action</td>
    </tr>
    
    <% @event.registrants.includes(:item).each do |registrant| %>
      <tr>
        <td><%= registrant.firstname %></td>
        <td><%= registrant.lastname %></td>
        <td><%= registrant.age %> ans</td>
        <td><%= registrant.item.name %></td>
        <td><%= registrant.item.price %></td> 
        <td><%= t("activerecord.attributes.registrant.#{registrant.delivered}") %></td>
        <td><%= link_to "livrer", admin_orders_checkin_path(registrant.ticket_id), method: :patch %></td>
      </tr>
    <% end %>

  </table>
  
  <!-- User information -->

  <h2>Information de la personne</h2>

  <%= render 'admin/users/show', user: @event.user %>

</div>