<div id="show">

  <h1>Commande <%= @event.order_id %></h1>

  <%= link_to "Editer", { action: "edit" }, class: "edit" %>

  <!-- Order information -->

  <h3>Information sur la commande</h3>
  <ul>
    <li><b>Montant:</b> <%= display_price(@event.amount) %></li>
    <li><b>Réduction:</b> <%= display_price(@event.discount_amount) %></li>
    <li><b>Statut:</b> <%= @event.status %></li>
    <li><b>N° de commande:</b> <%= @event.order_id %></li>
  </ul>

  <h3>Note</h3>

  <p><%= @event.note %></p>

  <%= link_to "Livrer", admin_orders_checkin_path(@event.id), method: :patch %>

  <!-- Paiements -->

  <h3>Paiements</h3>
  <% @event.payments.each do |payment| %>
  <ul>
    <li><%= payment.payment_type %> · <%= payment.time %> · <%= display_price(payment.amount) %> · <%= payment.status %></li>
  </ul>
  <% end %>

  <!-- Items -->

  <h3>Produits commandés</h3>
  <ul>
  <% @event.registrants.includes(:item).each do |registrant| %>
    <li><%= registrant.firstname %> · <%= registrant.lastname %> · <%= registrant.age %> ans · <%= registrant.item.name %> · <%= registrant.item.price %></li>
  <% end %>
  </ul>
  
  <!-- User information -->

  <h3>Information de la personne</h3>
  <%= render 'admin/users/show', user: @event.user %>

</div>