<div class="row">

  <div class="column">
    <p><%= user.firstname %></p>
    <p><%= user.email %></p>
    <p><%= user.npa %></p>
    <p><%= user.address %></p>
  </div>

  <div class="column">
    <p><%= user.lastname %></p>
    <p><%= user.phone %></p>
    <p><%= user.city %></p>
    <p><%= user.country_name %></p>
  </div>

</div>
