<div class="row">

  <div class="column">
    <p><%= @order.user.firstname %></p>
    <p><%= @order.user.email %></p>
    <p><%= @order.user.npa %></p>
    <p><%= @order.user.address %></p>
  </div>

  <div class="column">
    <p><%= @order.user.lastname %></p>
    <p><%= @order.user.phone %></p>
    <p><%= @order.user.city %></p>
    <p><%= @order.user.country_name %></p>
  </div>

</div>
