<section id="comitee">

  <div class="section-container">

    <div class="title">
      <div class="first-half">
        <h2>Le comité</h2>
        <div class="background-layer"></div>
      </div>
      <div class="second-half"></div>
    </div>

    <div class="people">
      <%= render "pages/vision/_someone",
        fullname: "Yves Matthey",
        title: "Président" %>
      <%= render "pages/vision/_someone",
        fullname: "Catherine Matthey",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "Yves Bulundwe",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "Daniel Darcey",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "Sabine Christen",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "Jeremie Bader",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "David Tripet",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "David Guyaz",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "Shékina Favre",
        title: "" %>
      <%= render "pages/vision/_someone",
        fullname: "Sylvain Riard",
        title: "" %>

    </div>
  </div>

</section>
