<% content_for :id, "users-password-resets-new"%>

<div class="content-wrap">

  <h2>Réinitialiser son mot de passe</h2>

  <div class="standard-form-row">
    <div class="row">
      <span></span>
      <p>
        Mot de passe oublié ? Rentrez simplement votre email et vous recevrez un message pour obtenir un nouveau mot de passe.
      </p>
    </div>

    <%= form_tag users_password_resets_path, :method => :post do %>
      <div class="row">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div class="row">
        <span></span>
        <%= submit_tag "Réinitialiser son mot de passe", class: "main-button" %>
      </div>
    <% end %>
  </div>

</div>

<%= render "layouts/headers/application" %>
