<% content_for :id, "volunteers-index" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_root_path,
    title: "Bénévolat" %>
<% end %>

<% if @volunteer %>

  <p class="center"><%= image_tag "connect/volunteers/medal.svg" %></p>

  <p>Félicitation ! Tu es inscrit comme bénévole.</p>
  <% if @volunteer.sector %>
  <p>Tu as choisi comme secteur: <%= t("sector.attributes.#{@volunteer.sector}") %></p>
  <% else %>
  <p>Tu n'as pas donné de préférences pour le secteur.</p>
  <% end %>
  <% if @volunteer.tshirt_size %>
  <p>Taille du T-shirt: <%= t("volunteer.tshirt_sizes.#{@volunteer.tshirt_size}") %></p>
  <% end %>

  <% if @volunteer.confirmed %>

  <p>Ton inscription bénévole est confirmée ! Tu peux visualiser ta commande dans "Achats".</p>

  <% else %>

  <h2>Commander</h2>

  <div id="light-form">

    <%= form_tag confirmation_connect_volunteers_path do %>

    <div class="row">
      <p>Commander et payer son entrée pour la RJ au prix préférentiel de 50 CHF confirme définitivement votre engagement lors de l'événement.</p>
    </div>

    <div class="row">
      <%= label_tag :lodging, "Veux-tu dormir sur place (+ 30 CHF) ?" %>
      <%= check_box_tag :lodging %>
    </div>

    <div class="row">
      <%= label_tag :discount_code, "Code promotionel" %>
      <%= text_field_tag :discount_code %>
    </div>

    <div class="">
      <%= submit_tag "Commander mon entrée", class: "connect-btn-light-dark-full long-connect-btn",
        data: { confirm: "Commander son entrée en tant que bénévole confirme votre engagement lors de l'événement. Etes-vous sûr de vouloir continuer ?" } %>
    </div>

    <% end %>
  </div>

  <% end %>

<% else %>

  <p class="center">
    <%= link_to "M'inscrire comme bénévole", volunteers_path(anchor: "letsgo"), "data-turbolinks" => "false", class: "connect-btn-light-dark long-connect-btn" %>
  </p>

<% end %>
