<% content_for :id, "orders-index" %>

<%= content_for :header do %>
  <%= render "connect/page_header", 
    link: connect_root_path, 
    title: "Mes commandes" %>
<% end %>

<p class="center link">
  <%= link_to "Aller à mes commandes en cours", pending_connect_orders_path, class: "connect-btn-light-dark long-connect-btn" %>
</p>

<% @orders.each do |order| %>

  <p>Commande n°<%= link_to order.order_id, connect_order_path(order) %> pour la <%= order.product_name.capitalize %></p>

<% end %>

