<% content_for :id, "orders-index" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_root_path,
    title: "Mes commandes" %>
<% end %>

<p class="center link">
  <%= link_to "Aller à mes commandes en cours", pending_connect_orders_path, class: "connect-btn-light-dark long-connect-btn" %>
</p>

<div class="connect-list-view">
  <% @orders.each do |order| %>

    <div class="item">
      Commande du <%= l order.created_at, format: :pretty_date %>
      <%= link_to "", connect_order_path(order.order_id), class: "overlay" %>
    </div>

  <% end %>
</div>
