<% content_for :id, "orders-pending" %>

<section class="content-wrap">

  <div id="connect-header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_root_path, remote: false %>
    <h1>Commandes en cours</h1>
  </div>

  <% @orders.each do |order| %>

    <%= order.order_id %> /
    <%= order.product.model_name.human %> /
    <%= l order.created_at, format: :date %> /
    <%= link_to "Continuer", controller: "orders/#{order.product_name}", action: "edit", id: order.order_id %>
    <%= link_to "Annuler", order_path(order.order_id), method: :delete, data: { confirm: "Etes-vous sûr de vouloir annuler votre commande ?" } %>

  <% end %>

</div>
