<% content_for :id, "orders-pending" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_orders_path,
    title: "Commandes en cours" %>
<% end %>

<div class="connect-list-view">

<% if @orders.empty?%>

  <p>Aucune commande en cours.</p>

<% end %>

<% @orders.each do |order| %>

  <div class="item">
    Commande du <%= l order.created_at, format: :pretty_date %>
    <%= link_to "Continuer", edit_orders_event_path(order.order_id, key: order.bundle.key) %>
    <%= link_to "Annuler", order_path(order.order_id), method: :delete, data: { confirm: "Etes-vous sûr de vouloir annuler votre commande ?" } %>
  </div>

<% end %>

</div>
