<% content_for :id, "orders-show" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_orders_path,
    title: "Commande #{@order.order_id}" %>
<% end %>

<% if @order.paid? %>
<p><%= link_to "> Voir la facture au format PDF", invoice_connect_order_path(@order.order_id, format: "pdf") %></p>
<p><%= link_to "> Voir le billet au format PDF", ticket_connect_order_path(@order.order_id, format: "pdf") %></p>
<% end %>

<p>Résumé de ta commande pour la <b>TODO</b>.</p>

<p class="price">Statut de la commande: HUMAN STATUS</p>
<p class="price">Prix total: TOTAL CHF</p>

RENDER ORDER INFOS

<p class="number">Commande n°<%= @order.order_id %></p>
