<% content_for :id, "orders-show" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_orders_path,
    title: "Commande #{@order.order_id}" %>
<% end %>

<h2>Documents de la commande</h2>

<p><%= link_to "> Voir la facture au format PDF", invoice_connect_order_path(@order.order_id, format: "pdf") %></p>
<% if @order.paid? %>
<p><%= link_to "> Voir le billet au format PDF", ticket_connect_order_path(@order.order_id, format: "pdf") %></p>
<% else %>
<p>> Le billet sera visible ici après reception du paiement</p>
<% end %>

<h2>Résumé</h2>

<p>Type: "<%= @order.items.first.order_bundle.name %>"</b>.</p>

<p>Statut de la commande: <%= human_order_status(@order) %></p>

<p>Date: <%= l @order.created_at, format: :normal %>

<% if @order.discount_amount > 0 %>
<p>Réduction appliquée: <%= "%.2f" % (@order.discount_amount / ::Payment::FDIV) %>CHF</p>
<% end %>

<h2>Contenu de la commande</h2>

<ul>
<% @order.order_items.each do |order_item| %>
  <li><%= order_item.quantity %>x <%= order_item.item.name %></li>
<% end %>
</ul>

<p>Prix total: <%= "%.2f" % (@order.amount / ::Payment::FDIV) %>CHF</p>

<p class="number">Commande n°<%= @order.order_id %></p>
