<% content_for :id, "orders-show" %>

<%= content_for :header do %>
  <%= render "connect/page_header", 
    link: connect_orders_path, 
    title: "Commande #{truncate(@order.order_id, length: 3, omission: "")}" %>
<% end %>

<p>Résumé de ta commande pour la <b><%= @order.product_name.capitalize %></b>.</p>

<p class="price">Prix total: <%= @order.print_amount %> CHF</p>

<%= render "connect/orders/show/#{@order.product_name}" %>

<p class="number">Commande n°<%= @order.order_id %></p>