<% content_for :id, "orders-show" %>

<section class="content-wrap">

  <div id="connect-header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_orders_path, remote: false %>
    <h1>Commande <sup><%= @order.order_id %></sup></h1>
  </div>

  <p>Résumé de ta commande pour la <b><%= @order.product_name.capitalize %></b>.</p>

  <p>Prix total: <%= @order.print_amount %> CHF</p>

  <%= render "connect/orders/show/#{@order.product_name}" %>

</section>
