<!DOCTYPE html>
<html>
  <head>
    <title>Rencontre de jeunesse RJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= render 'layouts/favicon' %>
  </head>

  <body>

    <div id="application-flash">
      <%= render 'layouts/flash' %>
    </div>

    <%= render 'layouts/headers/application' %>

    <div id="container" class="<%= yield :id %>">

      <%= yield %>

    </div>
    <%= render "layouts/footers/application" %>
  </body>
</html>
