<!DOCTYPE html>
<html>
  <head>
    <title>Rencontre de jeunesse RJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'connect', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'connect', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= render 'layouts/favicon' %>
  </head>

  <body>

    <%= render 'layouts/headers/connect' %>

    <div id="connect-flash">
      <%= render 'layouts/flash' %>
    </div>

    <div id="connect-container" class="<%= yield :id %>">
      <%= yield %>
    </div>

    <footer>
    </footer>
  </body>
</html>
