<!DOCTYPE html>
<html>
  <head>
    <title>Rencontre de jeunesse RJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'connect', media: 'all' %>
    <%= javascript_include_tag 'connect' %>
    <%= yield :javascript %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= render 'layouts/favicon' %>
  </head>

  <body>

    <%= render 'layouts/headers/connect' %>

    <div id="connect-flash">
      <%= render 'layouts/flash' %>
    </div>

    <div id="connect-main-container">
      <div id="connect-header">
        <div class="connect-header-wrapper">
          <%= yield :header %>
        </div>
      </div>
      <div id="connect-container" class="<%= yield :id %>">
        <div class="connect-container-wrapper">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
    </footer>
  </body>
</html>
