<!DOCTYPE html>
<html>
  <head>
    <title>RJ Login - Rencontre pour les leaders chrétiens - Equiper, Encourager, Connecter</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/favicon' %>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
