<section id="photos">

  <div class="section-container">

    <div class="images">
      <% @images_i.each.with_index do |j, index| %>
        <figure>
          <picture>
            <source type="image/webp" srcset="<%= image_url "login/photos/small/#{j}.jpg.webp" %>">
            <%= image_tag "login/photos/small/#{j}.jpg", onclick: "openModal();currentSlide(#{index})" %>
          </picture>
        </figure>
      <% end %>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
        <% @images_i.each.with_index do |j, index| %>
          <div class="mySlides">
            <div class="numbertext"><%= "#{index+1} / #{@images_i.size}" %></div>
            <picture>
              <source type="image/webp" srcset="<%= image_url "login/photos/#{j}.jpg.webp" %>">
              <%= image_tag "login/photos/#{j}.jpg", onclick: "openModal();currentSlide(#{index})" %>
            </picture>
          </div>
        <% end %>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>
      </div>
    </div>

  </div>

</section>

<script>
document.onkeydown = function (e) {
    switch (e.key) {
        case 'ArrowLeft':
            plusSlides(-1)
            break;
        case 'ArrowRight':
            plusSlides(1)
    }
};
</script>